body {
    overflow-x: hidden;
}
.loader {
    display: flex;
    justify-content:center ;
    align-items: center;
    height: 100vh;
}

.bar{
    width: 10px;
    height: 40px;
    margin: 0 5px;
    background-color: #78ca5c;
    animation: bar 1s infinite;
}
.bar1{
    animation-delay: 0.1s;
}
.bar2{
    animation-delay: 0.2s;
}
.bar3{
    animation-delay: 0.3s;
}
.bar4{
    animation-delay: 0.4s;
}
.bar5{
    animation-delay: 0.5s;
}

@keyframes bar {
    0% {
        transform: scaleY(0.2);
    }
    50%{
        transform: scaleY(1);
    }
    100%{
        transform: scaleY(0.2);
    }
}
